body {
  background-color: thistle;
}
div.content {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  background-color: aquamarine;
}
div.content h1 {
  color: firebrick;
}
div.content h4 {
  color: midnightblue;
}
